@import 'colors';

html, body, #mount {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #111;
  font: 16px/1.5em Arial;
  color: #eee;
  margin: 0;

  &.output {
    background: transparent;
  }
}

a {
  color: #ddd;
}

#nav {
  grid-area: nav;
  background: $dark-grey;
  padding: 10px;
  display: flex;
  align-items: center;
}

#aside {
  grid-area: aside;
  padding: 10px;
}

#app {
  height: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 20% 80%;
  grid-template-rows: 70px auto;
  grid-template-areas:
          "nav nav"
          "aside main";
}

#main {
  padding: 10px;
  grid-area: main;

  > ol {
    list-style: none;
    padding: 0;

    > li {
      border-bottom: 1px solid #333;
      padding: 10px 0;
      white-space: pre-line;
      font-size: 20px;
      line-height: 1.5em;
      position: relative;

      &:hover {
        cursor: pointer;
        background: $dark-grey;
      }

      &.active {
        background: $dark-grey;

        &:before {
          content: '➔';
          position: absolute;
          color: #fff;
          left: -30px;
        }
      }
    }
  }
}

#output {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  #content {
    font-size: 4vw;
    line-height: 1.2em;
    text-transform: uppercase;
    white-space: pre-line;
    text-align: center;
    min-width: 85vw;
    height: 30vh;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &.fade-to-black {
      opacity: 0;
      transition: opacity 1s
    }
  }
}
